body {
    background-color: rgb(255, 241, 219);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
    text-align: center;
    border-bottom: 2px solid #000;
padding: 18px;}
p {
    font-size: 18px;
}