* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f6efe3;
    width: 100%;

}

h1 {
    height: 100px;
}

h2 {
    height: 60px;
    font-size: 25px;
    text-align: center;
    display: flex;
    align-items: center;
}

h3 {
    font-size: 25px;
}

.orderFormContainer {
    padding: 0 3%;
    width: 94%;
    display: flex;
    flex-direction: row;
}

#customerInfo {
    width: 31%;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.cityStateZipOuterContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 10px;
}

#state {
    min-width: 45px;
    -moz-appearance: none;
    -webkit-appearance: none;

}

#zip {
    min-width: 65px;
}

.createPizzaContainer {
    border: 3px solid red;
    width: 42%;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.pickSizeContainer,
.pickIngredientsContainer {
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pickSizeContainer {
    height: 150px;
}

.pickIngredientsContainer {
    height: 350px;

}

.radioButtonsContainer,
.meatsContainer,
.veggiesContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.meatsContainer {
    border: thin solid blue;
}

label {
    display: block;
}

input[type="text"],
input[type="num"],
input[type="email"],
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 2px solid black;
}

input[type="button"] {
    height: 50px;
    width: 100px;
    align-self: center;
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

input[type="submit"]:hover,
input[type="button"]:hover {
    background-color: #45a049;
}

#orderSummary {
    margin-top: 20px;
}

#totals {
    margin-top: 20px;
}

.removeButton {
    background-color: #f44336;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.removeButton:hover {
    background-color: #d32f2f;
}

@media only screen and (max-width: 768px) {
    .orderFormContainer {
        flex-direction: column;
        align-items: center;
    }

    #customerInfo,
    .createPizzaContainer {
        width: 100%;
        max-width: 450px;
        border: thin yellow line;
    }

}