* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f6efe3;
    width: 100%;
}

h2,
h3 {
    color: #333;
}

.pickSize {
    border: thin solid red;
    width: 50%;
    
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
select,
input[type="radio"],
input[type="checkbox"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="button"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover,
input[type="button"]:hover {
    background-color: #45a049;
}

#orderSummary {
    margin-top: 20px;
}

#totals {
    margin-top: 20px;
}

.removeButton {
    background-color: #f44336;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.removeButton:hover {
    background-color: #d32f2f;
}

#submitOrder {
    background-color: #008CBA;
}

#submitOrder:hover {
    background-color: #0077A7;
}

#customerInfo {
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
}