* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f6efe3;
    width: 100%;

}

header {
    position: relative;
    background-color: #f6efe3;
    height: 250px;
    padding: 10px;
    border-bottom: 4px solid #CC2E28;
}

h1 {
    color: #1A731A;
    width: 100%;
    text-align: center;
    height: 220px;
    font-size: 40px;
    font-family: 'Lobster Two', sans-serif;
    font-style: italic;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: bold;
}

header span {
    height: 40px;
    z-index: 1;
}

header img,
.logoInnerShadow {
    top: 45px;
    margin: auto;
    height: 165px;
    width: 165px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    border-radius: 50%;
    background-color: transparent;
}

h2 {
    color: #1A731A;
    padding: 10px 0;
    font-size: 25px;
    text-align: center;
    display: flex;
    align-items: center;
    font-family: 'Lilita One', sans-serif;

}

#customerInfo h2,
.orderContainer h2 {
    display: flex;
    justify-content: center;
}

h3 {
    font-size: 25px;
}

.orderFormContainer {
    width: 100%;
    padding: 0 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
    margin-bottom: 20px;
}

#customerInfo,
.orderContainer {
    width: 31%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.cityStateZipOuterContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 10px;
}

#state {
    min-width: 45px;
    -moz-appearance: none;
    -webkit-appearance: none;

}

#zip {
    min-width: 65px;
}

#customerInfo label {
    display: block;
    font-size: 16px;
}

input[type="text"],
input[type="num"],
input[type="email"],
select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
}

.createPizzaContainer {
    width: 42%;
    display: flex;
    flex-direction: column;
    border-left: 4px solid #CC2E28;
    border-right: 4px solid #CC2E28;

}

.pickSizeContainer,
.pickIngredientsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.pickSizeContainer label,
.pickIngredientsContainer label {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.pickIngredientsContainer label div {
    height: 25px;
    font-size: 18px;
}

input:is([type="checkbox"], [type="radio"]) {
    -webkit-appearance: none;
    width: 2em;
    height: 2em;
    background: #f6efe3;
    border: 3px solid #1A731A;
    border-radius: 0.3em;
    transition: background-color 300ms, border-color 300ms;

    &:hover {
        background: #1A731A;
        border: 3px solid #1A731A;
    }

    &:focus {
        outline: 3px solid #4CAF50;
        outline-offset: 2px;
    }

    &:checked {
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='-10 -10 64.56 64.56'%3E%3Cpath d='M23.297 38.74a6.563 6.563 0 0 1-10.16.499L1.308 26.112a5.083 5.083 0 1 1 7.551-6.805l8.369 9.288a.617.617 0 0 0 .956-.047L35.386 5.217a5.083 5.083 0 1 1 8.181 6.032L23.297 38.74z'/%3E%3C/svg%3E"), #badeba;
        background-repeat: no-repeat;
        border: 2px solid #1A731A;
    }
}

input:is([type="radio"]) {
    border-radius: 50%;
}

/* .pickIngredientsContainer {
    overflow-y: scroll;
} */

.radioButtonsContainer,
.meatsContainer,
.veggiesContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

input[type="button"],
input[type="submit"] {
    font-family: 'Lilita One', sans-serif;

    font-size: 16px;
    height: 40px;
    width: 130px;
    align-self: center;
    background-color: #1A731A;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

input[type="submit"]:hover,
input[type="button"]:hover {
    background-color: #4CAF50;
}

.orderContainer {
    width: 31%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.orderContainer>h2 {
    border-bottom: 4px solid #CC2E28;
}

#orderSummary {
    width: 100%;
    max-height: 270px;

    overflow-y: scroll;
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    display: flex;
    flex-direction: column;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#orderSummary::-webkit-scrollbar {
    display: none;
}


#orderSummary li {
    position: relative;
    margin-right: 2em;
    margin-bottom: 10px;
}

.removeButton {
    background-color: #CC2E28;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    height: 2em;
    width: 2em;
    position: absolute;
    right: -30px;
    top: 0;
    font-weight: 600;
    color: #f6efe3;
}

.removeButton:hover {
    background-color: #ff0000;
}

@media only screen and (max-width: 768px) {
    .orderFormContainer {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    #customerInfo,
    .createPizzaContainer,
    .orderContainer {
        width: 100%;
        max-width: 450px;
        border-bottom: 4px solid #CC2E28;
        border-left: none;
        border-right: none;
        padding-bottom: 20px;
    }
    .orderContainer {
        border-bottom: none;
        padding-bottom: 0;
    }
}