.menu h2 {
    text-align: center;
    font-family: 'luckiest guy', sans-serif;
    color: #15478D;
    
}
.category-display {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 4;
    background: url(../images/rope_border.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: 20px;

}

.menu-item {
    display: flex;
    flex-direction: row;
}

div.porthole-frame {
    position: relative;
    z-index: 10;
    background: #F8F4E8;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    display: block;
    height: fit-content;
    border: thin solid transparent;
}

img.food {
    display: block;
    height: 220px;
    width: auto;
    border-radius: 50%;
}

img.frame {
    position: absolute;
    height: 220px;
    width: auto;
    top: 0;
    left: 0;
}


.menu-description {
    background: #F8F4E8;
    width: 100%;
    border-top-right-radius: 110px;
    border-bottom-right-radius: 110px;
    font-size: calc(13px + (15 - 13) * ((100vw - 400px) / (800 - 400)));
    font-family: "Barlow Condensed", sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.menu-description h5,
.menu-price {
    font-size: 24px;
    padding-right: 50px;
    font-family: "luckiest guy", sans-serif;
    color: #15478D;
}

.menu-price {
font-size: 1.8em;
color: #EE3424;
text-align: end;
justify-content: flex-end;
margin-right: 50px;
margin-top: -10px;
}

@media screen and (max-width: 576px) {
    img.food,
    img.frame {
        height: 175px;
    }
    .menu-description h5,
    .menu-price {
        font-size: 18px;
    }
}