* {
    margin: 0;
}

h1 {
    text-align: center;
    border-bottom: 3px solid black;
    padding: 10px;
    font-size: 40px;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fffdee;
}

div.info {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    background-color: #e6e3ce;
    padding: 0 8px 8px 8px;
}

.info>* {
    width: 100%;
}

.info p {
    width: 100%;
    text-align: center;
    font-size: 24px;
}

.author,
.location {
    display: flex;
    flex-direction: row;
    width: 500px;
    gap: 8px;
}

input,
select {
    box-sizing: border-box;
    border: none;
    margin: 0;
    padding: 5px;
    font-size: 16px;
}

input::placeholder {
    color: rgb(143, 142, 142);
}



#fName,
#lName {
    width: 42%;
}

#city {
    width: 84%;
}

#mInitial,
#state {
    width: 16%;
}