/*
Kevin Jacobsen
WEB 150, FBW Home Page
Feb 1, 2023 
*/

/* Responsive font size setting from class */
* {
    font-size: calc(20px + (24 - 16) * ((100vw - 400px) / (800 - 400)));
}
/* Sets max font size to 28px if screen size is over 1200px */
@media screen and (min-width: 1200px) {
  * {
    font-size: 28px;
  }
} 


body {
    margin: 0;
    box-sizing: border-box;
    background-color: black;
    font-family: 'Fascinate', cursive;
    background-image: url("../images/home_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-attachment: fixed;
    height:100vh;
    max-height: 100vh;
    overflow-y: hidden;
    
}


/* nav bar properties */

nav {
    /* flexbox container for nav bar */
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: .3rem .6rem .2rem .6rem;
    background-color: rgba(244, 156, 171);
    height:auto;
    /* Nav bar font properties */
    font-size: 1.1rem;
    color: rgb(247, 222, 190);
    text-shadow: 2px 2px rgb(58, 152, 121);
}

/* properties for div under nav bar class="spikes" */
.spikes {
    content: ''; 
    position: fixed;
    top: 1.8em;
    width: 100%;
    height: .4rem;
    background: rgb(244, 156, 170);
    -webkit-mask-image: url('../images/triangle.svg');
    -webkit-mask-size: 2rem .4rem;
    z-index: 1;
}

/* main content properties */

/* background for logo and cta button */
/* .main_container {
    background-image: url("../images/home_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-attachment: fixed;
    height:100vh;
    
    
} */

/* media query for mobile screen size
@media only screen and (min-width: 1600px) {
    .main_container {
        background-position: 0 1rem;
}
} */

/* container for logo fixed on screen */
.logo_container {
    width: 15rem;
    height: auto;
    position: fixed;
    left: 0;
    right:0;
    margin-left: auto;
    margin-right: auto;
    top:12vh;

} 

/* settings for logo image inside logo container */
.logo_container img {
object-fit: contain;
height:100%;
width:100%;

}


/* button properties */
.cta_button {


    font-size: 3rem;
}

button {
    position: fixed;
    top: 70%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width:max-content;
    padding: 1rem;
    font-family: 'Neonderthaw', cursive;    font-size: 2rem;
    background-color:rgba(0, 0, 0, 0.571);
    color:rgb(251, 193, 203);
    border:.2rem solid rgb(246, 203, 210);
    border-radius: 2rem;
    box-shadow:
        0 0 .4rem .4rem rgb(244, 156, 170),
        inset 0 0 1rem;
}
button:hover {
    background-color:rgba(0, 0, 0, 0.23);
    color:rgb(250, 218, 222);
    border:.2rem solid rgb(255, 220, 226);
    border-radius: 2rem;
    box-shadow:
        0 0 .6rem .6rem rgb(244, 156, 170),
        inset 0 0 1.5rem;
}

/* footer properties */

/* footer flexbox container */
footer {
    background-color: rgb(44, 178, 133);
    display: flex;
    flex-direction: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: .2em 1em;
    font-family: 'Glass Antiqua', cursive;
    gap: 1rem .5rem;
    position:fixed;
    bottom:0;
    left: 0;
    right: 0;
    margin-left:auto;
    margin-right:auto;
    color: rgb(255, 226, 173);

}