* {
    box-sizing: border-box;
}

body {
    font-family: 'Stylish', sans-serif;
    color: #fdfdfd;
    margin: 0;
}


/* ------------------------------ NAVIGATION BAR ------------------------------ */
nav {
    background-color: rgba(36, 0, 54, 0.803);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

/* Hide the links inside the navigation menu (except for logo/home) */
nav #phases {
    display: none;
}

/* Style navigation menu links */
nav #phases a {
    color: rgb(22, 217, 142);
    /* font-family: 'Aclonica', sans-serif; */
    padding: 18px;
    text-decoration: none;
    display: block;
    font-size: 3.5rem;
}

/* Style the hamburger menu */
nav a.icon {
    background: #000;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 80px;
    height: 70px;
}

#hamburger {
    display: inline-block;
    cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
    width: 60px;
    height: 10px;
    background-color: #16d98e;
    margin: 10px 10px;
    transition: 0.6s;
}

/* Rotate first bar */
.change .bar1 {
    transform: translate(0, 20px) rotate(45deg);
    background-color: rgb(185, 0, 0);
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    transform: translate(0, -20px) rotate(-45deg);
    background-color: rgb(185, 0, 0);
}

/* ------------------------------ MAIN CONTENT PROPERTIES ------------------------------ */

main {
    position: relative;
}

.bg-img::before {
    background-image: url(../images/main-bg.webp);
    position: fixed;
    content: ' ';
    display: block;
    width: 100%;
    min-height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-position: center;
    background-size: cover;
    z-index: -10;
}

.text {
    position: relative;
    margin: 5vh 5vw;}

.text * {
    color: #fff;
    text-justify: auto;
}

.text h1 {
    position: sticky;
    top: 0;
    margin-top: 0;
    font-size: 4.5rem;
    color: #16d98e;
    background: linear-gradient(to right, transparent 5%, #000 50%, transparent 95%);
    text-align: center;
    z-index: 2;
}
.text h2 {
    font-size: 4rem;
    text-shadow: 4px 4px #000;
    text-align: center;
}
.text h3 {
    font-size: 3.5rem;
    text-shadow: 3px 3px #000;
}

.text em {
    font-size: 1.4rem;
}

.text p {
    font-size: 2.2rem;
    padding: 1rem 1rem 2rem 3rem;
    border-bottom: 2px solid #ffffff;
}
table {
    margin: 2rem;
    border-collapse: collapse; 
}

table img {
    height: 125px;
    width: 125px;
    margin-left: -5vw;
    background-color: #ffffffb8;
    border-radius: 50%;
}

table td {
    font-size: 2.2rem;
}
table td b {
    font-size: 3rem;
}

.inner-table tr:nth-of-type(2) {
    border-bottom: 2px solid #ffffff;

}



/* ------------------------------ COLLAPSIBLE BATTLE TACTICS BUTTON ------------------------------ */

/* Style the button that is used to open and close the collapsible content */
.btn {
    background-color: #4909595c;
    color: #ffffff;
    cursor: pointer;
    width: 90%;
    border-radius: 30px;
    text-align: center;
    font-size: 5rem;
    margin: 5vh auto;
    padding: 2rem;
    border: 2px solid #fff;
}

/* Arrows for collapsible button */
.btn::before,
.btn::after {
    content: '↓';
    color: rgba(255, 255, 255, 0.845);
    position: absolute;
}
.btn::before {
    left: 10vw;
}

.btn::after {
    right: 10vw;
}

.active::before,
.active::after {
    content: "↑";
}

.content {
    padding: 0 5vw;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    font-size: 2.5rem;
}

.content ul {
    background-color: #00000074;
    border-radius: 20px;
}

.content li {
    padding: 20px;
}

.content h2 {
    font-size: 4rem;
    background: linear-gradient(to right, transparent 5%, #000 50%, transparent 95%);
    text-align: center;
    position: sticky;
    top: 0;
}

.content b {
    font-size: 3.2rem;

}