* {
    box-sizing: border-box;
}

body {
    font-family: 'Denk One', sans-serif;
    color: #fdfdfd;
    margin: 0;
}


/* ------------------------------ NAVIGATION BAR ------------------------------ */
nav {
    background-color: rgba(36, 0, 54, 0.803);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

/* Hide the links inside the navigation menu (except for logo/home) */
nav #phases {
    display: none;
}

/* Style navigation menu links */
nav #phases a {
    color: rgb(22, 217, 142);
    font-family: 'Aclonica', sans-serif;
    padding: 18px;
    text-decoration: none;
    display: block;
    font-size: 3.5rem;
}

/* Style the hamburger menu */
nav a.icon {
    background: #000;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 80px;
    height: 70px;
}

#hamburger {
    display: inline-block;
    cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
    width: 60px;
    height: 10px;
    background-color: #16d98e;
    margin: 10px 10px;
    transition: 0.6s;
}

/* Rotate first bar */
.change .bar1 {
    transform: translate(0, 20px) rotate(45deg);
    background-color: rgb(255, 0, 0);
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    transform: translate(0, -20px) rotate(-45deg);
    background-color: rgb(255, 0, 0);
}

/* ------------------------------ MAIN CONTENT PROPERTIES ------------------------------ */

main {
    position: relative;
}

.bg-img::before {
    background-image: url(../images/main-bg.webp);
    position: fixed;
    content: ' ';
    display: block;
    width: 100%;
    min-height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-position: center;
    background-size: cover;
    z-index: -10;
}

h1 {
    position: sticky;
    top: 0;
    margin-top: 0;
    font-size: 5rem;
    color: #16d98e;
    background: linear-gradient(to right, transparent 5%, #000 50%, transparent 95%);
    text-align: center;
    z-index: 10;
}

.text {
    position: relative;
    margin: 5vh 5vw;}

.text * {
    color: #fff;
    text-justify: auto;
}

.text h4 {
    font-size: 2.8rem;
}

.text em {
    font-size: .9rem;
}

.text p {
    font-size: 1.5rem;
    padding: 1rem;
    border-bottom: 2px solid #ffffff;
}


/* ------------------------------ COLLAPSIBLE BATTLE TACTICS BUTTON ------------------------------ */

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #4909595c;
    color: #ffffff;
    position: relative;
    cursor: pointer;
    width: 90%;
    border-radius: 30px;
    text-align: center;
    font-size: 5rem;
    margin: 4vh 0;
    left: 50%;
    transform: translateX(-50%);

}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.collapsible:hover {
    background-color: #490959;
}

/* Style the collapsible content. Note: hidden by default */
.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    font-size: 2.5rem;
}

.collapsible:after {
    content: '\021E9';
    /* Unicode character for "plus" sign (+) */
    color: white;
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 9.5rem;
}

.active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
}

.content ul {
    background-color: #00000074;
}

.content li {
    padding: 20px;
}