body {
    width: 100vw;
    height: 200vh;
}

div.pt {
    position:fixed;
    z-index: 1;
}
div#PointsTrackerBox.content {
    background-color:#f1f1f100;
    display: flex;
    line-height: 150px;
    flex-grow: 1;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
}

.col_1 button, .col_2 button, .col_3 button {
    background-color: rgba(126, 236, 17, 0);
    border: 6px solid black;
    flex-grow: 1;
    font-size: 1.7em;
    font-weight: bold;
}
div.pointName{
    border-bottom: dashed black;
}

div.cpButtons,
div.vpButtons {
    border: none;
    background-color: coral;
    display: flex;
    flex-grow: 1;
}

.col_1 {
    border-left: 6px solid black;
    width:40vw;

}
.col_2 {
    border: none;
    width: 40vw;
}
.col_3 {
    border: 4px solid green;
    width: 20vw;
    display: flex;
}

main {
    width:100vw;
background-color:aquamarine;
position: absolute;
margin-top: 80px;
}

.collapsible {
    background-color: rgb(178, 0, 6);
    color: rgb(252, 190, 190);
    cursor: pointer;
    width: 100vw;
    border: none;
    padding: 12px;
    text-align: center;
    outline: none;
    font-family: 'Rowdies', cursive;
    font-size: 2.2em;
    }
.active, .collapsible:hover {
    background-color: rgb(148, 33, 33);
    }
.collapsible:after {
    content: '\00BB'; /* Unicode character for ">> */
    font-size: 36px;
    color: rgb(255, 255, 255);
    float: left;
    margin-left: 5px;
    vertical-align: center;
    }
.active:after {
    content: "\00AB"; /* Unicode character for "<< */
    }
.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
    }
