body {  font-family:"Verdana", sans-serif;
    background-image:url(../images/lavabg.png);
    background: cover;
    font-size: 100%;
    margin-top: 0px;
    margin-left: 12px;
    margin-right: 12px;

    }

h1 { background: rgb(132, 48, 51);
    color: rgb(247, 206, 206); 
    font-size: 3em;
    height: 100%;
    text-align: center;
    vertical-align: center;
    padding: 6px;
    border: 6px solid rgb(86, 12, 14);
    }
h2 { background: rgb(86, 12, 14);
    color: rgb(247, 206, 206); 
    font-size: 2em;
    height: 100%;
    text-align: center;
    vertical-align: center;
    padding: 6px;}
p { background-image:url(https://img.freepik.com/free-photo/vintage-grunge-paper-background_1048-10911.jpg?w=360&t=st=1674835885~exp=1674836485~hmac=4b60beaeb518b315da8e5cce22ebe8c7266aac35755e77c382a955c6cb7c465c); 
background-size: 100vw;
color: black;
padding: 6px;
font-size: 1.4em;
}
ul { background: rgb(246, 245, 238);
color: black;
font-size: 1.4em;
padding: 6px;
list-style-image: url('../images/icon.png');
}

table {background:rgb(246, 245, 238);
    font-size: 1.1em;
}
.alt { background: rgba(236, 230, 189, 0);

    width: 100%
    
}
a {
color: rgb(247, 206, 206);
}
a:visited {
color: rgb(247, 206, 206);
}
a:hover, a:active, a:focus {
color:#c33;
}

.collapsible {
background-color: rgb(86, 12, 14);
color: rgb(252, 190, 190);
cursor: pointer;

width: 100%;
height: 100%;
border: none;
text-align: left;
vertical-align: center;
outline: none;
font-size: 2em;
}
.active, .collapsible:hover {
background-color: rgb(148, 33, 33);
}
.collapsible:after {
content: '\00BB'; /* Unicode character for ">> */
font-size: 36px;
color: rgb(255, 255, 255);
float: left;
margin-left: 5px;
vertical-align: center;
}
.active:after {
content: "\00AB"; /* Unicode character for "<< */
}

.content {
    
padding: 0 10px;
max-height: 0;
overflow: hidden;
transition: max-height 0.2s ease-out;
background-color: #f1f1f1;
}
.img-with-text {
text-align: justify;
width: [width of img];
}

.img-with-text img {
display: block;
margin: 0 auto;
}
