/* TAG SETTINGS */
html {width: 100%;}
body {
    font-family: 'Rowdies', cursive;
    font-size: 1.2em;
    background-image:url(../images/lavabg.png) ;
    background-size: 100% 100vh;
    font-weight: 300;
    width: 100vw;
    height:150vh;
    margin-left:12px;
    margin-top:-12px;
  }

h1 { background: rgb(132, 48, 51, 0.9);
    color: rgb(247, 206, 206); 
    font-size: 3.2em;
    text-align: center;
    padding: 8px;
    border: 12px solid rgb(86, 12, 14);
    margin-right:12px;

  }

h2 { background: rgba(86, 12, 14, 0.9);
    color: rgb(247, 206, 206); 
    font-size: 2.4em;
    text-align: center;
    padding: 8px;
    margin-right:12px;

  }
    

h3 { background: rgba(86, 12, 14, 0.9);
    color: rgb(247, 206, 206); 
    font-size: 2em;
    height: 100%;
    text-align: center;
    vertical-align: center;
    padding: 8px;
  }

p { background-image:url(https://img.freepik.com/free-photo/vintage-grunge-paper-background_1048-10911.jpg?w=360&t=st=1674835885~exp=1674836485~hmac=4b60beaeb518b315da8e5cce22ebe8c7266aac35755e77c382a955c6cb7c465c); 
  background-size: cover;
  border: 8px solid rgb(86, 12, 14);
  font-size: 1.45em;
  text-shadow: -1px -1px rgb(247, 206, 206);
  text-align: justify;
  padding: 12px;
  margin-right:12px;

    }

ul {
    background-image:url(https://img.freepik.com/free-photo/vintage-grunge-paper-background_1048-10911.jpg?w=360&t=st=1674835885~exp=1674836485~hmac=4b60beaeb518b315da8e5cce22ebe8c7266aac35755e77c382a955c6cb7c465c);
    background-size: cover;
    font-size: 1.45em;
    text-shadow: -1px -1px rgb(247, 206, 206);
    text-align: justify;
    padding: 12px;
    padding-left: 52px;
    border: 8px solid rgb(86, 12, 14);
    list-style-image: url('../images/icon2.png');
    margin-right:12px;
}
table {
  background-image:url(https://img.freepik.com/free-photo/vintage-grunge-paper-background_1048-10911.jpg?w=360&t=st=1674835885~exp=1674836485~hmac=4b60beaeb518b315da8e5cce22ebe8c7266aac35755e77c382a955c6cb7c465c); 
  background-size: cover;
  border: 8px solid rgb(86, 12, 14);
  font-size: 1.35em;
  text-shadow: -1px -1px rgb(247, 206, 206);
  text-align: justify;
  padding: 12px;
  margin-right:12px;
}

/* HYPERLINK SETTINGS */
a {
  color: rgb(247, 206, 206);
  text-decoration: none;
  }
a:visited {
  color: rgb(247, 206, 206);
  }
a:hover, a:active, a:focus {
  color:#c33;
  }
button {
  font-size:1.3em;
  background-color:rgba(0, 0, 0, 0)
}

/* ALTERNATIVE*/
.alt { background: rgba(255, 0, 0, 0);
    width: 100%;
    margin-right:12px;
}
.dok_font {
  font-family: 'Nosifer', cursive;
}
.std {
  font-family: 'New Rocker', cursive;
}
.syl {
  font-family: 'Rubik Beastly', cursive;
  font-weight:100;
}


/* POINTS TRACKER SETTINGS */
div.pt {
  position:fixed;
  z-index: 1;
  
}
button#collapsible_header.collapsible {
margin-top:-100px;
}
div#PointsTrackerBox.content {
  background-image: url(https://w0.peakpx.com/wallpaper/858/307/HD-wallpaper-chalkboard-gray-texture-grey-chalkboard-background-retro-texture-gray-texture-board-chalkboard.jpg);
  background-repeat: no-repeat;
  background-size:100% 100vh;
  display: flex;
  line-height: 200px;
  flex-grow: 1;
  font-size: 2.9em;
  font-weight: bold;
  text-align: center;
  height:100%;
  width:100vw;
  margin-right: -12px;
}

.col_1 button, .col_2 button, .col_3 button {
  flex-grow: 1;
  font-size: 1.7em;
  font-weight: bold;
  color:white;
  text-shadow: 3px 3px black;
  

  background-image:url(https://i.pinimg.com/originals/fa/59/3f/fa593ff4aec724adc5bd1b0072146994.jpg);
}
div.pointName{
  line-height: 75px;
  color:rgb(247, 206, 206);
  text-shadow: 3px 3px black;
}

.point_number_font {
  color:rgba(81, 255, 0, 0.498);
  font-weight:400;
  font-size:2.5em;
}

div.cpButtons,
div.vpButtons {
  display: flex;
}

.col_1 {
border:none;
flex:2;

}
.col_2 {
  border: none;
  flex:2;

}
.col_3 {
  border: 4px solid darkred;
  display: flex;
  flex:.7;
}

/* COLLAPSIBLE BUTTON SETTINGS */
.collapsible {
background-color: rgb(178, 0, 6);
color: rgb(252, 190, 190);
cursor: pointer;
width: 100%;
border: none;
text-align: center;
outline: none;
font-family: 'Rowdies', cursive;
font-size: 2.2em;
}
.active, .collapsible:hover {
background-color: rgb(148, 33, 33);
}
.collapsible:after {
content: '\00BB'; /* Unicode character for ">> */
font-size: 36px;
color: rgb(255, 255, 255);
float: left;
margin-left: 5px;
vertical-align: center;

}
.active:after {
content: "\00AB"; /* Unicode character for "<< */
}
.content {
max-height: 0;
overflow: hidden;
transition: max-height 0.2s ease-out;
background-color: #f1f1f100;
}

/* NAV BAR SETTINGS */
.nav_bar {
  display:flex;
  flex-wrap: nowrap;
  width:100%;
  border: 6px pink;
  background-color:rgba(21, 255, 0, 0);
  justify-content: space-around;
  padding-top:30px;
}
h3.nav_text {
  background-color: rgba(0, 0, 0, 0);
  text-align: left;
  vertical-align: center;
  font-size: 1.8em;
  flex:1;
}

div.main {
  position: static;
  margin-top: 35px;

}
div.army_name_header {
  position:relative;
  margin-top: -42px;
}

.img-with-text {
text-align: center;
width: [width of img];
}
.img-with-text img {
display: block;
margin: 0 auto;
}
  

/* The grid: Three equal columns that floats next to each other */
.column {
    width: 50%;
    height: auto;
    padding: 8px;
    margin: 6px;
    text-align: center;
    font-size: 1.8em;
    background: rgb(132, 48, 51, 0.9);
    cursor: pointer;
    color: rgb(247, 206, 206);

  }
  
  .containerTab {

    color: white;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Closable button inside the image */
  .closebtn {
    float: right;
    color: rgb(255, 255, 255);
    font-size: 2em;
    cursor: pointer;
  }