/* TAG SETTINGS */
body {  font-family:"Verdana", sans-serif;
    background-image:url(../images/lavabg.png) ;
    background-size: 100vw 100vh;
    font-size: 100%;
    margin-top: 0px;
    margin-left: 12px;
    margin-right: 12px;

    }

h1 { background: rgb(132, 48, 51, 0.9);

    color: rgb(247, 206, 206); 
    font-size: 3em;
    height: 100%;
    text-align: center;
    vertical-align: center;
    padding: 8px;
    border: 8px solid rgb(86, 12, 14);
    }
h2 { background: rgba(86, 12, 14, 0.9);
    color: rgb(247, 206, 206); 
    font-size: 2.2em;
    height: 100%;
    text-align: center;
    vertical-align: center;
    padding: 8px;}
h3 { background: rgba(86, 12, 14, 0.9);
    color: rgb(247, 206, 206); 
    font-size: 2em;
    height: 100%;
    text-align: center;
    vertical-align: center;
    padding: 8px;}
p { background-image:url(https://img.freepik.com/free-photo/vintage-grunge-paper-background_1048-10911.jpg?w=360&t=st=1674835885~exp=1674836485~hmac=4b60beaeb518b315da8e5cce22ebe8c7266aac35755e77c382a955c6cb7c465c); 
background-size: 100vw;
background-repeat: no-repeat;
color: black;
padding: 8px;
font-size: 1.45em;
}
ul { background: rgb(246, 245, 238);
background-image:url(https://img.freepik.com/free-photo/vintage-grunge-paper-background_1048-10911.jpg?w=360&t=st=1674835885~exp=1674836485~hmac=4b60beaeb518b315da8e5cce22ebe8c7266aac35755e77c382a955c6cb7c465c); 
background-size: cover;
font-size: 1.45em;
padding: 8px;
list-style-image: url('../images/icon.png');
}

section {background-image:url(https://img.freepik.com/free-photo/vintage-grunge-paper-background_1048-10911.jpg?w=360&t=st=1674835885~exp=1674836485~hmac=4b60beaeb518b315da8e5cce22ebe8c7266aac35755e77c382a955c6cb7c465c); 
    background-size: cover;
    font-size: 1.1em;
}

/* CLASS SELECTORS */
.alt { background: rgba(0, 0, 0, 0);

    width: 100%;
    margin-right:12px;
}


/* HYPERLINK SETTINGS */
a {
color: rgb(247, 206, 206);
}
a:visited {
color: rgb(247, 206, 206);
}
a:hover, a:active, a:focus {
color:#c33;
}


/* COLLAPSIBLE BUTTON SETTINGS */
.collapsible {
background-color: rgb(86, 12, 14);
color: rgb(252, 190, 190);
cursor: pointer;

width: 100%;
height: 100%;
border: none;
text-align: left;
vertical-align: center;
outline: none;
font-size: 2em;
}
.active, .collapsible:hover {
background-color: rgb(148, 33, 33);
}
.collapsible:after {
content: '\00BB'; /* Unicode character for ">> */
font-size: 36px;
color: rgb(255, 255, 255);
float: left;
margin-left: 5px;
vertical-align: center;
}
.active:after {
content: "\00AB"; /* Unicode character for "<< */
}

.content {
    
max-height: 0;
overflow: hidden;
transition: max-height 0.2s ease-out;
background-color: #f1f1f1;
}
.img-with-text {

text-align: center;
width: [width of img];
}

.img-with-text img {
display: block;
margin: 0 auto;
}

  
/* The grid: Three equal columns that floats next to each other */
.column {
    width: 50vw;
    height: auto;
    padding: 8px;
    margin: 6px;
    text-align: center;
    font-size: 1.8em;
    background: rgb(132, 48, 51, 0.9);
    cursor: pointer;
    color: rgb(247, 206, 206);

  }
  
  .containerTab {

    color: white;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Closable button inside the image */
  .closebtn {
    float: right;
    color: rgb(255, 255, 255);
    font-size: 2em;
    cursor: pointer;
  }

  .scoreboard {
    display: grid;
    
    grid-template-columns: repeat(2, 1fr);
    width: 60vw;
    background-color: rgba(206, 189, 152, 0.695);
    border: 8px solid rgb(86, 12, 14);

    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
  }
  
  .scoreboard__name,
  .scoreboard__score {
    padding: 10px;
    text-align: center;
  }
  
  .scoreboard__name {
    border-bottom: 1px solid #ddd;
  }
  
  .scoreboard__name--one {
    color: #009578;
  }
  
  .scoreboard__name--two {
    color: #2d0095;
  }
  
  .scoreboard__score {
    color:rgb(148, 33, 33);
    font-size: 2em;
  }
  
  .scoreboard__controls {
    display: flex;
  }
  
  .scoreboard__control-button {
    flex-grow: 1;
    border: none;
    background: rgb(238, 238, 238);
    cursor: pointer;
    font-size: 1.2em;
  }
  
  .scoreboard__control-button:hover {
    background: #ddd;
  }
  
  .scoreboard__control-button:active {
    background: #ccc;
  }